In [1]:
import pandas as pd

In [ ]:
# import API csv file and slip the first 4 rows since there is a title in the first 4 rows.

In [44]:
API = pd.read_csv('/Users/mijia/Desktop/Spring 2020/BANA 8090/API_NY/API_NY.GDP.csv', skiprows=4)

In [ ]:
# check number of columns and rows in API DataFrame.

In [51]:
API.shape

(264, 65)

In [ ]:
# glimpse view of API DataFrame.

In [52]:
API.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.446055,-1.369863,4.198232,0.848228,-0.450586,-0.211225,1.330511,NaN,NaN,NaN
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.665292,1.030660,NaN,NaN
2,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.471981,8.542147,4.954590,4.822626,0.943576,-2.580097,-0.147207,-2.133493,NaN,NaN
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.545323,1.417524,1.001989,1.774487,2.218751,3.314805,3.821081,4.145238,NaN,NaN
4,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.724022,1.629345,NaN,NaN

In [53]:
# import Metadata csv file.

In [54]:
Metadata = pd.read_csv('/Users/mijia/Desktop/Spring 2020/BANA 8090/API_NY/Metadata_Country.csv')

In [55]:
# check number of columns and rows in Metadata DataFrame.

In [56]:
Metadata.shape

(263, 6)

In [ ]:
# glimpse view of Metadata DataFrame.

In [57]:
Metadata.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFG,South Asia,Low income,NaN,Afghanistan,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,AND,Europe & Central Asia,High income,NaN,Andorra,NaN

In [ ]:
# count number of NaN in each column for API DataFrame.

In [64]:
count_NaN_API=API.isnull().sum(axis = 0)

In [66]:
list(count_NaN_API)

[0,
 0,
 0,
 0,
 264,
 140,
 138,
 138,
 138,
 138,
 130,
 126,
 125,
 121,
 121,
 107,
 107,
 107,
 107,
 105,
 101,
 100,
 95,
 95,
 94,
 83,
 78,
 75,
 75,
 72,
 71,
 66,
 63,
 60,
 57,
 46,
 45,
 42,
 40,
 37,
 31,
 31,
 28,
 26,
 25,
 20,
 19,
 14,
 14,
 14,
 14,
 14,
 15,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 24,
 264,
 264]

In [65]:
count_NaN_API.loc[count_NaN_API==264]

1960           264
2019           264
Unnamed: 64    264
dtype: int64

In [70]:
# count number of NaN in each column for Metadata DataFrame.

In [67]:
count_NaN_Metadata=Metadata.isnull().sum(axis = 0)

In [69]:
count_NaN_Metadata

Country Code      0
Region           46
IncomeGroup      46
SpecialNotes    170
TableName         0
Unnamed: 5      263
dtype: int64

In [ ]:
# Drop all NaN columns in both API and Metadata DataFrames.

In [73]:
API = API.drop(['1960','2019','Unnamed: 64'], 1)

In [75]:
Metadata = Metadata.drop(['Unnamed: 5'], 1)

In [ ]:
# change columns names

In [91]:
API.head()

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-10.519748,-3.685030,3.446055,-1.369863,4.198232,0.848228,-0.450586,-0.211225,1.330511,NaN
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,21.390528,14.362441,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.665292,1.030660
2,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.858713,4.859220,3.471981,8.542147,4.954590,4.822626,0.943576,-2.580097,-0.147207,-2.133493
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.350067,3.706891,2.545323,1.417524,1.001989,1.774487,2.218751,3.314805,3.821081,4.145238
4,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.690654,-5.358826,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.724022,1.629345

In [87]:
API = API.rename(columns={'Country Name': 'Country_Name', 'Country Code': 'Country_Code', 
                    'Indicator Name': 'Indicator_Name','Indicator Code': 'Indicator_Code'})

In [92]:
Metadata.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFG,South Asia,Low income,NaN,Afghanistan
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania
4,AND,Europe & Central Asia,High income,NaN,Andorra

In [ ]:
# Since the Country_Name in API is the same value of TableName in Metadata, I changed TableName to Country_Name.

In [93]:
Metadata = Metadata.rename(columns={'Country Code': 'Country_Code', 'IncomeGroup':'Income_Group',
                    'SpecialNotes': 'Special_Notes','TableName': 'Country_Name'})

In [81]:
# Analyze each columns

In [94]:
API.head()

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-10.519748,-3.685030,3.446055,-1.369863,4.198232,0.848228,-0.450586,-0.211225,1.330511,NaN
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,21.390528,14.362441,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.665292,1.030660
2,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.858713,4.859220,3.471981,8.542147,4.954590,4.822626,0.943576,-2.580097,-0.147207,-2.133493
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.350067,3.706891,2.545323,1.417524,1.001989,1.774487,2.218751,3.314805,3.821081,4.145238
4,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.690654,-5.358826,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.724022,1.629345

In [98]:
Metadata.head()

,Country_Code,Region,Income_Group,Special_Notes,Country_Name
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFG,South Asia,Low income,NaN,Afghanistan
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania
4,AND,Europe & Central Asia,High income,NaN,Andorra

In [100]:
Metadata.Region.unique()

array(['Latin America & Caribbean', 'South Asia', 'Sub-Saharan Africa',
       'Europe & Central Asia', nan, 'Middle East & North Africa',
       'East Asia & Pacific', 'North America'], dtype=object)

In [107]:
Metadata.Income_Group.unique()

array(['High income', 'Low income', 'Lower middle income',
       'Upper middle income', nan], dtype=object)

In [109]:
Metadata.isnull().sum(axis = 1)

0      1
1      1
2      1
3      1
4      1
      ..
258    1
259    1
260    0
261    0
262    1
Length: 263, dtype: int64

In [ ]:
count_NaN_Metadata

In [76]:
# Since there are 264 rows in API and 263 rows in Metadata, I'd like to check Country name for each DataFrame.

In [130]:
Metadata['Code_from_API']=API['Country_Code']

In [131]:
Metadata.loc[Metadata['Code_from_API']!=Metadata['Country_Code']]

,Country_Code,Region,Income_Group,Special_Notes,Country_Name,Code_from_API,Country_from_API
108,IRL,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Ireland,INX,Not classified
109,IRN,Middle East & North Africa,Upper middle income,Fiscal year end: March 20; reporting period fo...,"Iran, Islamic Rep.",IRL,Ireland
110,IRQ,Middle East & North Africa,Upper middle income,NaN,Iraq,IRN,"Iran, Islamic Rep."
111,ISL,Europe & Central Asia,High income,NaN,Iceland,IRQ,Iraq
112,ISR,Middle East & North Africa,High income,NaN,Israel,ISL,Iceland
...,...,...,...,...,...,...,...
258,XKX,Europe & Central Asia,Upper middle income,NaN,Kosovo,WSM,Samoa
259,YEM,Middle East & North Africa,Low income,NaN,"Yemen, Rep.",XKX,Kosovo
260,ZAF,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa,YEM,"Yemen, Rep."
261,ZMB,Sub-Saharan Africa,Lower middle income,National accounts data were rebased to reflect...,Zambia,ZAF,South Africa
262,ZWE,Sub-Saharan Africa,Lower middle income,NaN,Zimbabwe,ZMB,Zambia

In [132]:
API.loc[108,]

Country_Name             Not classified
Country_Code                        INX
Indicator_Name    GDP growth (annual %)
Indicator_Code        NY.GDP.MKTP.KD.ZG
1961                                NaN
                          ...
2014                                NaN
2015                                NaN
2016                                NaN
2017                                NaN
2018                                NaN
Name: 108, Length: 62, dtype: object

In [ ]:
# After checking the 108th row, I deleted this row.

In [135]:
API.drop(API.index[108])

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-10.519748,-3.685030,3.446055,-1.369863,4.198232,0.848228,-0.450586,-0.211225,1.330511,NaN
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,21.390528,14.362441,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.665292,1.030660
2,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.858713,4.859220,3.471981,8.542147,4.954590,4.822626,0.943576,-2.580097,-0.147207,-2.133493
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.350067,3.706891,2.545323,1.417524,1.001989,1.774487,2.218751,3.314805,3.821081,4.145238
4,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.690654,-5.358826,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.724022,1.629345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.597141,3.308633,4.377008,2.809626,3.441469,1.222803,4.095281,4.070292,4.226087,3.813314
260,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.866230,7.702307,-12.714897,2.392990,4.823519,-0.188690,-16.678463,-13.621458,-5.942320,-2.701475
261,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,3.844751,6.177883,7.373613,7.939782,6.122761,4.438308,...,-1.538089,3.039731,3.284168,2.213355,2.485201,1.846992,1.193733,0.399088,1.414513,0.787056
262,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.361382,-2.490839,3.272393,12.214048,16.647456,-5.570310,...,9.220348,10.298206,5.564625,7.597617,5.059376,4.695826,2.919881,3.757178,3.403169,3.794901
263,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.316157,1.434471,6.244345,-1.106172,4.910571,1.523130,...,12.019560,19.675323,14.193913,16.665429,1.989493,2.376929,1.779873,0.755869,4.704035,6.159190