# Lab 07: Control Flow

## #1
The Python built-in function `input` prompts the user to enter text.
Use the `input` function to ask the user for his or her age (you may need to google it or look at docs for examples).

- If the user's age is less than 13, print a message telling them that they are a child.
- If the user's age is between 13 and 19, print a message telling them that they are a teenager.
- If the user is 20 or over, tell them they are old.

*Hint: you may want to use the `int()` function to coerce strings to integers.*

In [5]:
user_age = input('How old are you?')
# Convert the age to an integer
user_age = int(user_age)

How old are you? 27

In [6]:
if user_age < 13:
    print("You're just a child!")
elif user_age <= 19:
    print("Looks like you're a teenager.")
else:
    print("Wow, you're old!")

Wow, you're old!

## #2
Using the planes DataFrame, loop through the values in the engine column and count how many contain a dash (-).
You may want to use the `in` operator to check if one string is inside another.

In [8]:
import pandas as pd
planes = pd.read_csv('../data/planes.csv')

There are two approaches I can imagine:
- Loop through the rows of the dataframe and check the 'engine' column of each
- Look through the engine column itself

We'll try both.

In [12]:
# Create a counter that we'll increment when we see an engine with a dash.
counter = 0

# Iterating through rows of the DataFrame
for index, row in planes.iterrows():
    engine = row['engine']
    # Check if there is a dash in the engine value.
    if '-' in engine:
        # Increment the counter if so
        counter = counter + 1

counter

3292

In [11]:
# Create a counter that we'll increment when we see an engine with a dash.
counter = 0

# Iterating through values in the engine column
for engine in planes['engine']:
    # Check if there is a dash in the engine value.
    if '-' in engine:
        # Increment the counter if so
        counter = counter + 1
        
counter

3292

## #3
Loop through every row in the planes DataFrame (try `df.iterrows()`) and sum up the number of engines *until* you encounter a plane made by Boeing.

The "until" phrasing should make you think of looping and using a `break` statement to end the loop.

In [13]:
# Another counter variable.
num_engines = 0

for index, row in planes.iterrows():
    # First, check if we've found a Boeing plane.
    if row['manufacturer'] == 'BOEING':
        # Exit the loop if so.
        break
    # Add the number of engines in the current row to our running counter.
    num_engines = num_engines + row['engines']

num_engines

68

## #4
The fizzbuzz problem (a famous coding interview question):
- Loop through the integers from 1 to 100
- For any number divisible by 3, print 'fizz'
- For any number divisible by 5, print 'buzz'
- For any number divisible by both 3 and 5, print 'fizzbuzz'
- For all other numbers, just print the number

Notice that the order of our if/elif/else statements matters -- if we check for divisibility by 3 before checking for divisibility by 15, we'll never print 'fizzbuzz', since all number divisible by 15 are also divisible by 3 (and by 5).

In [16]:
for i in range(1, 101):
    # Divisible by both 3 and 5
    if (i % 15) == 0:
        print('fizzbuzz')
    # Divisible by 3 only
    elif (i % 3) == 0:
        print('fizz')
    # Divisible by 5 only
    elif (i % 5) == 0:
        print('buzz')
    # Not divisibly by 3 or 5
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

## #5
Fill in the blanks in this list comprehension to produce the output [1, 3, 5]:
```python
[x * _ + _ for x in range(3)]
```

In [17]:
[x * 2 + 1 for x in range(3)]

[1, 3, 5]

## #6
Given a list `l = [4, 5, 2, 0, 2]`, write a list comprehension that produces `[12, 15, 6, 0, 6]`:
```python
[ _____ for _ in l]
```

In [19]:
l = [4, 5, 2, 0, 2]
[x * 3 for x in l]

[12, 15, 6, 0, 6]

## #7
Write a list comprehension that returns a list of the columns of `planes` in all caps. *Hint: use `planes.columns` in the comprehension.*

In [20]:
[col.upper() for col in planes.columns]

['TAILNUM',
 'YEAR',
 'TYPE',
 'MANUFACTURER',
 'MODEL',
 'ENGINES',
 'SEATS',
 'SPEED',
 'ENGINE']