# Lab 04: Joining

## #1
You should have already downloaded the [planes data](https://raw.githubusercontent.com/uc-python/intro-python-datasci/master/data/planes.csv).
Now download a related dataset â€“ [flights data](https://raw.githubusercontent.com/uc-python/intro-python-datasci/master/data/flights.csv).

Note that this is a fairly large dataset and may take a few seconds to download.

## #2
Load in the planes data as `planes` and the flights data as `flights`.

In [1]:
import pandas as pd

In [2]:
planes = pd.read_csv('../data/planes.csv')
flights = pd.read_csv('../data/flights.csv')

## #3
Based on what you see in the flights dataset, form a hypothesis about what this dataset is.
Do you see a column in this data that could match up with a column in the planes data?

In [3]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

This is data on flights out of New York City.
The `tailnum` column should look familiar, as our planes data also had tailnum, and there it was a unique identifier for a plane.

In [4]:
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

## #4
Just using the flights data, is it possible to determine what percentage of the flights were completed on Boeing planes?
Why not?

The flights data doesn't contain information about the manufacturer of each plane -- for that, we need the planes dataset.
So no, with flights alone, we can't answer this question.

## #5
In order to combine this data with the planes data (where the manufacturer column is), we need to do a join.

Inner join the planes data to the flights data, storing the result in a variable called `joined_data`.

In [5]:
joined_data = pd.merge(planes, flights, on='tailnum')
joined_data.head()

,tailnum,year_x,type,manufacturer,model,engines,seats,speed,engine,year_y,...,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute,time_hour
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan,2013,...,2.0,EV,4560,EWR,PIT,60.0,319,6,30,2013-01-10 06:00:00
1,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan,2013,...,40.0,EV,4269,EWR,CHS,99.0,628,10,32,2013-01-10 10:00:00
2,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan,2013,...,47.0,EV,4667,EWR,MSP,175.0,1008,15,40,2013-01-10 15:00:00
3,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan,2013,...,-12.0,EV,4334,EWR,CMH,81.0,463,6,34,2013-01-11 06:00:00
4,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan,2013,...,-8.0,EV,4298,EWR,MCI,171.0,1092,11,20,2013-01-11 11:00:00

You may have tried letting Pandas infer the join column on its own, by ommitting the `on=` argument.
Pandas will assume that any column names that exist in both datasets should be joined on.

In [6]:
pd.merge(planes, flights).head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine,month,...,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute,time_hour
0,N150UW,2013.0,Fixed wing multi engine,AIRBUS,A321-211,2,199,NaN,Turbo-fan,10,...,4.0,US,1895,LGA,CLT,91.0,544,12,59,2013-10-07 12:00:00
1,N150UW,2013.0,Fixed wing multi engine,AIRBUS,A321-211,2,199,NaN,Turbo-fan,10,...,-24.0,US,1751,EWR,CLT,76.0,529,18,29,2013-10-08 18:00:00
2,N150UW,2013.0,Fixed wing multi engine,AIRBUS,A321-211,2,199,NaN,Turbo-fan,10,...,-18.0,US,1751,EWR,CLT,73.0,529,18,29,2013-10-09 18:00:00
3,N150UW,2013.0,Fixed wing multi engine,AIRBUS,A321-211,2,199,NaN,Turbo-fan,10,...,4.0,US,2085,LGA,CLT,98.0,544,6,30,2013-10-10 06:00:00
4,N150UW,2013.0,Fixed wing multi engine,AIRBUS,A321-211,2,199,NaN,Turbo-fan,10,...,-21.0,US,1843,EWR,CLT,78.0,529,5,0,2013-10-11 05:00:00

However, there is also a column called `year` in both datasets, but it doesn't mean the same thing.
So this results in a different join than what we want, and this is why it's better to always name your join columns explicitly.

In [17]:
print('Planes', list(planes.columns), end='\n\n')
print('Flights', list(flights.columns), end='\n\n')
# What columns are in both?
print('Common', [col for col in planes.columns if col in flights.columns], end='\n\n')

Planes ['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats', 'speed', 'engine']

Flights ['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay', 'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight', 'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute', 'time_hour']

Common ['tailnum', 'year']

## #6
How many rows are in the result DataFrame?
How does this compare to how many rows were in its parent DataFrames (planes and flights)?

In [18]:
joined_data.shape

(284170, 27)

In [19]:
planes.shape

(3322, 9)

In [20]:
flights.shape

(336776, 19)

There are 284k rows in the result, as compared to 336k and 3k rows in the inputs.
So our result has slightly fewer rows than our larger input dataset.

## #7
What would happen if you did a left join instead of an inner join?
Try it, storing the result in a variable called `left_joined_data`.
Check how many rows are in this new DataFrame -- is it different to the number of rows in `joined_data` (from #5)?

Your results will depend on the order of your join - if you do a left join, which dataset is on the left will matter.
We'll look at both possibilites (left joining planes to flights, and left joining flights to planes).

In [22]:
left_joined_data = pd.merge(planes, flights, on='tailnum', how='left')
left_joined_data.shape

(284170, 27)

In the case where we left join planes to flights, we get the exact same number of rows as before.
What does this mean?
It means that every *plane* was also in the flights table -- so left joining had no effect; we weren't dropping any unmatched records from the planes table anyway.

In [23]:
left_joined_data = pd.merge(flights, planes, on='tailnum', how='left')
left_joined_data.shape

(336776, 27)

In the case where we left join flights to planes, we suddenly get many more records.
This indicates than there are records in the flights table that don't match back to the planes table, and in an inner join we were dropping them.

## #8
Using the original joined data, calculate what percentage of flights were completed on Boeing planes.

In [24]:
# How many total flights?
joined_data.shape[0]

284170

In [25]:
# How many completed on Boeing?
joined_data[joined_data['manufacturer'] == 'BOEING'].shape[0]

82912

In [26]:
82912 / 284170

0.2917690115071964

Or, in a single line:

In [27]:
joined_data[joined_data['manufacturer'] == 'BOEING'].shape[0] / joined_data.shape[0]

0.2917690115071964